body
{
    background-color: #F5F5F5;
    margin: 0 auto;
}
h4, h5
{
    margin-top: 5px;
    margin-bottom: 5px;
}

a{
    text-decoration: none;
}
@font-face
{
    font-family: "NotoSansCJKkr-Light";
    src: url("../font/NotoSansCJKkr-Light.otf") format("opentype");
}

@font-face
{
    font-family: "NotoSansCJKkr-Regular";
    src: url("../font/NotoSansCJKkr-Regular.otf") format("opentype");
}

/****************header***************/
#area-search-top
{
    position: fixed;
    top: 0;
    left:0;
    height: 107px;
    width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #DFDFDF;
    z-index: 999;
}


#head-text
{
    margin-top: 30px;
    margin-left: 81px;
    font-family: 'NotoSansCJKkr-Regular';
    font-weight: 900;
    font-size: 37px;
    color: #FF5722;
    float: left;
}


#search-text
{
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 20px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #E78466;
}

#area-form
{
    position: relative;
    float: left;
}

#search-button
{
    position: absolute;
    top: 0;
    left: 670px;
    height: 38px;
    width: 60px;
    margin-top: 30px;
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 23px;
    color: #FFFFFF;
    line-height: 34px;
    background: #FF5722;
    border: 1px solid #E78466;
}

#search-option
{
    position: relative;
    display: inline-block;
    background-color: #FFFFFF;
    margin-left: 23px;
}

#search-option-button
{
    font-family: 'NotoSansCJKkr-Regular';
    background: #FFFFFF;
    font-size: 19px;
    color: #696960;
    line-height: 28px;
}

#search-option-contents
{
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    min-width: 100px;
}

#search-option-contents a
{
    display: block;
    color: #696960;

}

#search-option-contents a:hover
{
    color: #AFAFAF;
}

#search-option:hover #search-option-contents
{
    display:block;
}

#search-option:hover #search-option-button
{

}

#user-menus
{
    position: fixed;
    top: 44px;
    right: 46px;
}

#login
{
    margin-left: 148px;
    float: left;
}

#register
{
    margin-left: 36px;
}

#password-find
{
    margin-left: 33px;
}
.top-hyp-deco
{
    font-family: 'NotoSansCJKkr-Light';
    font-size: 19px;
    color: #494949;
    line-height: 28px;
}

#area-nav-top
{
    width: 100%;
    border-bottom: 1px solid #C2C2C2;
    background: #FFFFFF;
    position: fixed;
    top: 108px;
    z-index: 999;
}

#top-menu
{
    padding: 0px;
    margin-left: 81px;
    list-style-type: none;
    z-index: 999;
}

#top-menu li
{
    height: 100%;
    margin-right: 45px;
    display: inline;
    font-family: NotoSansCJKkr-Regular;
    font-size: 23px;
    color: #494949;
    line-height: 34px;
}

#top-menu .menu-selected
{
    color: #FF5722;
    border-botom: 3p    x solid #FF5722;
}
/*************************************/

#outer-container
{
    
    padding-top: 175px;
    top: 175px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#inner-container
{
    height: auto;
    padding-top: 20px;
    padding-left: 46px;
    padding-right: 46px;
}
#area-cascade
{
    height: 100%;
    width: 64%;
    float:left;
}

/*************** main areas ***************/

#area-video-head
{
    margin-bottom: 10px;
    padding-top: 20px;
    height: 61px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
}

#area-video-head h4
{
    display: inline;
}

#area-video-head .info-head
{
    font-family: 'NotoSansCJKkr-Light', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #494949;
    line-height: 29px;
}

#video-title
{
    font-family: 'NotoSansCJKkr-Regular', serif;
    font-size: 25px;
    margin: 0px 478px 0px 36px;
    color: #494949;
    font-weight: 600;
    line-height: 37px;
}

#video-date
{
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 20px;
    font-weight: 700;
    margin-left: 17px;
    margin-right: 45px;
}

#video-play-count
{
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 20px;
    font-weight: 700;
    margin-right: 38px
}

#video-product-count
{
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 20px;
    font-weight: 700;
    color: #FF5722;
}

#area-video
{
    background-color: #555555;
    border:1px solid #C2C2C2;
    height: 560px;
    width:100%;
}

#area-cascade #area-history
{
    background-color: #AAAAAA;
    height: 29%;
    width: 100%;
    margin-bottom: 30px;
}

#area-cascade
{
    width: 73%;
}
#area-search
{
     
    background-color: #AAAAAA;
    height: 100%;
    width: 27%;
    float: left;
}
/*****************************************/

#area-text-search
{
    background-color: #FFFFFF;
    border: 1px solid #D2D2D2;
}

#area-text-search-inner
{
    margin: 20px 19px 20px 19px;
}

#area-text-search #text-search
{
    background-color: #FFFFFF;
    border: 2px solid #D2D2D2;
    color: black;
    width: 75%;
    font-size: 10pt;
    border-radius: 25px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#area-display-result
{
    position: relative;
}
#area-display-result #product-order
{
    border: 1px solid #C2C2C2;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 997;
    display: none;
    position: absolute;
    height: 724px;
    width:401px;
}

#area-display-result #product-order-inner
{
    width: 320px;
    margin: 0 auto;
}

#area-display-result #product-order .query-name
{
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 14px;
}

#area-display-result #product-order .product-image
{
    border: 1px solid #C2C2C2;
    height: 320px;
    width: 320px;
}

#area-display-result #product-order .product-name
{
    font-family: NotoSansCJKkr-Light;
    font-size: 20px;
    color: #494949;
    line-height: 29px;
}

#product-order .cost-head
{
    font-family: NotoSansCJKkr-Light;
    font-size: 15px;
    font-weight: 300;
    color: #494949;
    clear:both;
    float: left; 
}

#product-order .money-part
{

    float: right;
}

#product-order .letter-big-gray
{
    font-family: NotoSansCJKkr-Regular;
    font-size: 25px;
    color: #7E7E7E;
    line-height: 29px;
    float: left;
}

#product-order .letter-big-orange
{
    font-family: NotoSansCJKkr-Regular;
    font-size: 25px;
    color: #FC5427;
    line-height: 29px;
    float: left;
}

#product-order .stnd
{
    margin-top: 8px;
    margin-left: 8px;
    font-family: NotoSansCJKkr-Light;
    font-size: 16px;
    color: #494949;
    line-height: 24px;
    float: left;
}

#product-cart
{
    font-family: NotoSansCJKkr-Regular;
    font-size: 20px;
    font-weight: 700;
    color: #FC5427;
    background-color: white;
    border: 2px solid #FC5427;
    position: absolute;
    left: 26px;
    bottom: 10px;
    width: 43%;
    height: 45px;
}

#product-ordering
{
    border: none;
    outline : none;
    font-family: NotoSansCJKkr-Regular;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #FC5427;
    position: absolute;
    right: 26px;
    bottom: 10px;
    width: 43%;
    height: 45px;

}

#product-close
{
    outline: none;
    border: none;
    background-color: white;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 22px;
    right: 30px;
    background-image: url("../img/btn-close.png");
    background-repeat: no-repeat;
}

#product-order
{
    clear: both;
}


#text-search-button
{
    float: right;
    padding-top: 3px;
    width: 10%;
}

#text-serach-button:hover
{
    opacity: 0.8;
    cursor: click;
}

#text-search:focus
{
    outline: none;
}

#area-result-head
{

    border-top: 1px solid #D2D2D2; 
    border-bottom: 1px solid #D2D2D2;
}

#area-result-head h4
{
    font-family: 'NotoSansCJKkr-Rugular';
    font-size: 20px;
    font-weight: 700;
    margin: 11px 0px 11px 20px;
    color: #494949;
    line-height: 29px;
}

#list-history li
{
    display: inline;
    float: left;
    margin-left: 9px;
}

#list-search .list-item-ranking
{
    margin: 21px 19px 0px 19px;
    padding-bottom: 27px;
    border-bottom: 1px solid #D2D2D2;
}

.list-item-ranking .list-item-inner
{
    background-color: #FAFAFA; 
    height: auto;
    width: 100%;
}

.list-item-ranking .area-list-item-index
{
    float: left;
    height: 100px;
    width: 21px;
    margin-right: 12px;
}


.list-item-ranking .list-item-index
{
    font-family: 'NotoSansCJKkr-Regular', sans-serif;
    background-color: #FF5722;
    color: white;
    padding-top: 2px;
    height: 19px;
    width: 100%;

    text-align: center;
}

.list-item-ranking .area-list-item-info
{
}

.list-item-ranking .list-item-title
{
    font-family: 'NotoSansCJKkr-Regular', sans-serif;
    font-size: 19px;
    color: #494949;
    line-height: 28px;

}

.list-item-ranking .list-item-time
{
    font-family: 'NotoSnasCJKkr-Regular', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #AFAFAF;
    line-height: 19px;
}

.list-item-ranking .list-item-image
{
    height: 48px;
    width: 88px;
    margin-right: 8px;
}

.list-item-ranking .list-item-expl
{
    float: right;
    font-family: 'NotoSnasCJKkr-Light', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #494949;
    white-space:normal;
    height: 88px;
    width: 200px;
}

.list-item-search-product
{
    margin-top: 15px;
    margin-left: 23px;
    margin-bottom: 26px;
}

.list-item-search-product .list-item-title
{
    font-family: 'NotoSnasCJKkr-Regular', sans-serif;
    font-size: 19px;
    color: #494949;
    margin-bottom: 14px;
    line-height: 28px;
}

.list-item-search-product .list-item-image
{
    display: inline-block;
    height: 101px;
    width: 101px;
    border: 1px solid #C2C2C2;
    margin-right: 17px;
    float: left;
}


.list-item-search-product .list-item-cost
{
    margin-top:7px;
    font-family: 'NotoSansCJKkr-Recular';
    font-size: 25px;
    color: #FC5427;
    line-height: 29px;
}

.list-item-search-product .list-item-expl
{
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* 여러 줄 자르기 추가 스타일 */
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.list-item-search-product .list-item-seller
{
    margin-top: 2px;
    font-family: 'NotoSansCJKkr-Recular';
    font-size: 16px;
    color: #7A7A7A;
    line-height: 24px;
}

.hyp-deco
{
    text-decoration: none;
}
.list-deco
{
    list-style-type: none;
    white-space:nowrap;
    margin: 0 auto;
    padding: 0;
}
#list-search
{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 80%;
    width: 100%;
}

#list-history
{
    background-color: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-top: none;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 147px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 23px; 
}
#list-search #list-item-title
{
    margin-left: 5px;
    padding-top: 5px;
}

#list-search #list-item-expl
{
    margin-left: 5px;
    padding-top: 5px;
}
.list-item-image:hover
{
    opacity: 0.8;
}

#area-history-head
{
    background-color: #FFFFFF;
    border:1px solid #C2C2C2;
    height: 55px;
    width: 100%;
}

#area-history-head img
{
    float: left;
    margin-top: 11px;
    margin-left: 19px;
    height: 30px;
    width: 30px;
}

#area-history-head h4
{
    margin-top: 13px;
    font-family: 'NotoSansCJKkr-Regular', sans-serif;
    font-size: 15pt;
    font-weight: 700;

}

#area-history-head #screen-save
{
    float: left;
    margin-left: 8px;
}
#area-history-head #screen-count
{
    margin-right: 20px;
    float: right;
}
#list-history .list-image-area
{
    position: relative;
    height: 100%;
    width: 261px;
}

#list-history .list-item-image
{
    height: 100%;
    width: 100%;;
}

#list-history .image-info
{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    
}

#list-history{

    font-family: 'NotoSansCJKkr-Regular', sans-serif;
}

#list-history .image-date
{
    float: left;
    color: white;
    margin-left: 10px;
}

#list-history .image-time
{
    float: right;
    color: #FF5722;
    margin-right: 10px;
}


.list-item-remove
{
    position: absolute;
    right: 30px;
    top: 5px;
    display: none;
    
}
