h4, h5
{
    margin-top: 5px;
    margin-bottom: 5px;
}

#outer-container
{
    width: 1280px;
    height: 720px;
    margin: 0 auto;
}

#inner-container
{
    height: 100%;
}
#area-cascade
{
    height: 100%;
    width: 65%;
    float:left;
}
#area-cascade #area-video
{
    background-color: red;
    height: 70%;
    width:100%;
}

#area-cascade #area-history
{
    background-color: blue;
    height: 30%;
    width: 100%;
}

#list-history li
{
    display: inline;
}

#area-search
{
    background-color: green;
    height: 100%;
    width: 35%;
    float: left;
}

#area-search #area-search-inner
{
    width: 60%;
    margin-left: 20%;
}

#text-search
{
    width: 88%;
    margin-top:30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hyp-deco
{
    text-decoration: none;
}

.list-deco
{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
#list-search
{
    width: 100%;
}
#list-history
{
    height: 100%;
    width: 100%;
}
#list-search .list-item
{
    height: 200px;
    width: 100%;
}

.list-item-image
{
    overflow: hiden;
}

.list-item-image:hover
{

}

#list-search .list-item .list-item-image 
{
    height: 150px;
    width: 100%;
}

#list-history .list-item .list-item-image
{
    height: 80%;
    width: 30%;
}
