
@import url(http://fonts.googleapis.com/css?family=Oswald:300);
* {/* box-sizing: border-box; */}
html { width: 100%; height: 100%; overflow: hidden; background: white; background: radial-gradient(80% 0%, ellipse cover, rgba(66,97,104,1) 0%,rgba(49,67,74,.1) 100%), radial-gradient(20% 100%, ellipse cover, rgba(8,13,17,1) 0%,rgba(36,58,67,1) 100%); }
body { 
    font-family: 'Roboto-Medium' sans-serif;
}

video { border-radius: 6px; }

/* video container */
.videoContainer{/*video screen*/
        width:100%;
        height:100%;
        position:absolute;
        left:0px;
        top: 0px;

        overflow:hidden;
        background:#000;
        color:#ccc;
        /*border-radius: 6px;
        border: 1px solid rgba(0,0,0,0.8);
        box-shadow: 0 0 5px rgba(0,0,0,0.5);*/
        margin: 0 auto ;
}
.videoContainer:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        /*box-shadow: inset 0 1px 2px rgba(255,255,255,0.3);
        z-index: 6;
        border-radius: 6px;
        pointer-events: none;*/
}

/* video caption css */
.caption{
        display:none;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        padding: 5px 10px;
        color:#ddd;
        font-size:14px;
        font-weight:300;
        text-align: center;
        background: rgba(0,0,0,0.4);
        text-transform: uppercase;
        border-radius: 6px 6px 0 0;
        -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}

/*** VIDEO CONTROLS CSS ***/
/* control holder */
.control{
        color:#ccc;
        position:absolute;
        height: 100%;
        width:100%;
        z-index:5;
        display:none;
}
/* control bottom part */
.btmControl{
        clear:both;
}
.control .btnPlay {
        float:left;
        width:16px;
        height:19px;
        /*padding:5px 5px 20px 5px;*/
        /*margin-left:5px;*/
        margin-bottom:5px;
        /*background: rgba(0,0,0,0.5);*/
        cursor:pointer;
        /*border-radius: 6px 0 0 6px;
        border: 1px solid rgba(0,0,0,0.7);
        box-shadow: inset 0 0 1px rgba(255,255,255,0.5);*/
}
.control .icon-play{
        /*background:url(http://s.cdpn.io/6035/vp_sprite.png) no-repeat -11px 0;*/
        background:url(/playbar/play-2.png);
        width: 16px;
        height: 19px;
        display: block;
        /*margin: 4px 0 0 8px;*/
}
.control .icon-pause{
        /*background:url(http://s.cdpn.io/6035/vp_sprite.png) no-repeat -34px -1px;*/
        background:url(playbar/pause-2.png);
        width: 15px;
        height: 19px;
        display: block;
        /*margin: 4px 0 0 8px;*/
}
.control .selected{
        font-size:15px;
        color:#ccc;
}
.control .sound{
        width: 30px;
        height: 20px;
        float:left;
        margin-left:15px;
        /*background: rgba(0,0,0,0.5);
        border: 1px solid rgba(0,0,0,0.7);
        border-left: none;
        box-shadow: inset 0 0 1px rgba(255,255,255,0.5);*/
        cursor: pointer;
}
.control .icon-sound {  
        /*background:url(http://s.cdpn.io/6035/vp_sprite.png) no-repeat -19px 0;*/
        background:url(/playbar/sound.png);
        width: 30px;
        height: 20px;
        display: block;
        /*margin: 8px 0 0 8px;*/
}
/*��?Ұ? ?߰?*/
.control .muted {  
        /*background:url(http://s.cdpn.io/6035/vp_sprite.png) no-repeat -19px 0;*/
        background:url(/playbar/non-sound.png);
        width: 30px;
        height: 20px;
        display: block;
        /*margin: 8px 0 0 8px;*/
}
.control .muted .icon-sound{
        width: 7px !important;
}
.control .btnFS{
        width: 30px;
        height: 18px;
        /*border-radius: 0 6px 6px 0;*/
        float:right;
        /*background: rgba(0,0,0,0.5);
        border: 1px solid rgba(0,0,0,0.7);
        border-left: none;
        box-shadow: inset 0 0 1px rgba(255,255,255,0.5);*/
}
.control .btnWS{
        width: 76px;
        height: 18px;
        float:right;
}
.control .icon-480 {  
        /*background:url(http://s.cdpn.io/6035/vp_sprite.png) no-repeat 0 0;*/
        background:url(playbar/480hd.png);
        width: 49px;
        height: 16px;
        display: block;
        float:right;
        /*margin: 8px 0 0 9px;*/
}
.control .icon-widescreen {  
        /*background:url(http://s.cdpn.io/6035/vp_sprite.png) no-repeat 0 0;*/
        background:url(playbar/wide.png);
        width: 27px;
        height: 12px;
        display: block;
        float:right;
}
.control .icon-fullscreen {  
        /*background:url(http://s.cdpn.io/6035/vp_sprite.png) no-repeat 0 0;*/
        background:url(playbar/full.png);
        width: 30px;
        height: 18px;
        display: block;
        float:right;
        /*margin: 8px 0 0 9px;*/
}
/* PROGRESS BAR CSS */
/* Progress bar */
.progress-bar {
        height: 10px;
        /*padding: 10px;*/
        /*background: rgba(0,0,0,0.6);*/
        /*border: 1px solid rgba(0,0,0,0.7);*/
        border-left: none;
        /*box-shadow: inset 0 0 1px rgba(225,225,225,0.5);*/
        float:left;

}
.progress {/*????��??*/
        width:680px;
        height:7px;
        position:relative;
        cursor:pointer;
        background: rgba(0,0,0,0.4); /* fallback */
        /*box-shadow: 0 1px 0 rgba(225,225,225,0.1), inset 0 1px 1px rgba(0,0,0,1);
        border-radius:10px;*/
}
.progress span {
        height:100%;
        position:absolute;
        top:0;
        left:0;
        display:black;
        border-radius:10px;
}
.timeBar{
        z-index:10;
        width:0;
        background: rgba(255,87,34,1)
        /*background: -webkit-linear-gradient(top, rgba(107,204,226,1) 0%,rgba(225,87,34,1) 100%);*/
        /*box-shadow: 0 0 7px rgba(107,204,226,.5);*/
}
.bufferBar{/*???? ???? ?ȵȺκ?*/
        z-index:5;
        width:0;
        background: rgba(225,255,255,0.2);      
}

/* VOLUME BAR CSS */
/* volume bar */
.volume{
        position:relative;
        cursor:pointer;
        width:70px;
        height:10px;
        float:right;
        margin-top:10px;
        margin-right:10px;
}
.volumeBar{
        display:block;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        background-color:#eee;
        z-index:10;
}
